In [1]:
import pandas as pd
import lib.cleaners as c

dataset = pd.read_json('dataset/resume_output_Cook-canada.json', lines=True)
dataset.head(10)

,additional,id,jobs,schools,skills,summary
0,"[SKILLS & ABILITIES:, • Young, Energetic and h...",54a3bd53808e6764,"[{'title': 'Bus Person', 'company': 'Knight an...","[{'degree': '', 'school_name': 'Queen Elizabet...",None,[To obtain a part-time job in an atmosphere wh...
1,"[SKILLS, - Reliability, - Leadership and m...",f8dc5fa9fc39c387,"[{'title': 'Sushi Cook, Pans Cook, Appetizer C...",[{'degree': 'High School Diploma in Technical ...,None,[]
2,"[Skills, -Good writing and reading abilities.,...",0e84aa0202047520,"[{'title': 'Line Cook and Prep Cook', 'company...","[{'degree': 'Certificate in French Immersion',...","[{'skill': 'COOKING', 'experience': '4 years'}...","[Well organized, focused individual who strive..."
3,[• Experienced hands-on worker; some construct...,67b00f0985c8948a,"[{'title': 'washer & dishwasher', 'company': '...",[{'degree': 'in Mechanics and German Language ...,None,[Driving position.]
4,[Currently looking for part time work in the e...,89c76f9c1242c552,"[{'title': 'Cook', 'company': 'Sunridge Garden...",[{'degree': 'Professional cooks lvl 1 in Culin...,None,[]
5,None,84ebc2bebda72365,"[{'title': 'Cashier/Cook', 'company': 'Jack Pi...","[{'degree': 'High School Diploma', 'school_nam...",None,[]
6,None,017658f6f804297c,"[{'title': 'Casual Cook', 'company': 'The Brid...",[{'degree': 'apprenticehip in the field of coo...,None,[]
7,None,b61c261f28ab69be,"[{'title': 'Delivery Driver', 'company': 'Pizz...","[{'degree': 'High school', 'school_name': 'Sri...",None,[]
8,[Currently looking for full time job (prefere ...,708b408f8988a22e,"[{'title': 'Dishwasher/Line Cook', 'company': ...",[{'degree': 'Master's degree in Mechanical eng...,"[{'skill': 'Microsoft Office', 'experience': '...",[]
9,[Great experience working in team environment ...,6f73b4d1ab8579ad,"[{'title': 'Cashier', 'company': 'Sephora Beau...","[{'degree': 'High school or equivalent', 'scho...",None,[To obtain a full time position Monday to Frid...

In [2]:
edu_df = c.expand_to_multi_rows(dataset, 'schools', 'school')
edu_df = edu_df[['id', 'school']]

In [3]:
import numpy as np

degree_df = c.create_new_df_dict_col(edu_df, 'school')
degree_df = degree_df.replace('', np.nan)

Drop NaN degrees

In [5]:
degree_df = degree_df.dropna(subset=['degree'])

Now calculate the degree time length in years

In [6]:
c.simplify_education_information(degree_df, 'start_date', 'end_date')
simplified_degree_df = degree_df[['degree', 'degree_year_time']]

In [7]:
simplified_degree_df.head(10)

                                               degree  degree_year_time
2            High School Diploma in Technical Theater               NaN
3                     Certificate in French Immersion               NaN
4            in Mechanics and German Language Studies               NaN
5           Professional cooks lvl 1 in Culinary arts          0.917199
6                                High school  diploma          4.750269
7                                 High School Diploma          4.000082
8   apprenticehip in the field of cooking in culin...          1.913797
9                                         High school               NaN
10  Master's degree in Mechanical engineering (Tec...          4.747531
11                          High school or equivalent               NaN

In [8]:
skills_df = c.expand_to_multi_rows(dataset, 'skills', 'skill_dict')
skills_df.head(10)

,additional,id,jobs,schools,skills,summary,skill_dict
0,"[Skills, -Good writing and reading abilities.,...",0e84aa0202047520,"[{'title': 'Line Cook and Prep Cook', 'company...","[{'degree': 'Certificate in French Immersion',...","[{'skill': 'COOKING', 'experience': '4 years'}...","[Well organized, focused individual who strive...","{'skill': 'COOKING', 'experience': '4 years'}"
1,"[Skills, -Good writing and reading abilities.,...",0e84aa0202047520,"[{'title': 'Line Cook and Prep Cook', 'company...","[{'degree': 'Certificate in French Immersion',...","[{'skill': 'COOKING', 'experience': '4 years'}...","[Well organized, focused individual who strive...","{'skill': 'HAND TOOLS', 'experience': 'Less th..."
2,"[Skills, -Good writing and reading abilities.,...",0e84aa0202047520,"[{'title': 'Line Cook and Prep Cook', 'company...","[{'degree': 'Certificate in French Immersion',...","[{'skill': 'COOKING', 'experience': '4 years'}...","[Well organized, focused individual who strive...","{'skill': 'WHMIS', 'experience': 'Less than 1 ..."
3,[Currently looking for full time job (prefere ...,708b408f8988a22e,"[{'title': 'Dishwasher/Line Cook', 'company': ...",[{'degree': 'Master's degree in Mechanical eng...,"[{'skill': 'Microsoft Office', 'experience': '...",[],"{'skill': 'Microsoft Office', 'experience': '9..."
4,[Currently looking for full time job (prefere ...,708b408f8988a22e,"[{'title': 'Dishwasher/Line Cook', 'company': ...",[{'degree': 'Master's degree in Mechanical eng...,"[{'skill': 'Microsoft Office', 'experience': '...",[],"{'skill': 'Inventor', 'experience': '8 years'}"
5,[Currently looking for full time job (prefere ...,708b408f8988a22e,"[{'title': 'Dishwasher/Line Cook', 'company': ...",[{'degree': 'Master's degree in Mechanical eng...,"[{'skill': 'Microsoft Office', 'experience': '...",[],"{'skill': 'Cad', 'experience': '8 years'}"
6,[Currently looking for full time job (prefere ...,708b408f8988a22e,"[{'title': 'Dishwasher/Line Cook', 'company': ...",[{'degree': 'Master's degree in Mechanical eng...,"[{'skill': 'Microsoft Office', 'experience': '...",[],"{'skill': 'Creo Parametric', 'experience': '2 ..."
7,"[Skills, ● High energy attitude, ● Sales exper...",c7675c0b793f34a0,"[{'title': 'Manager', 'company': 'Pizza Hut', ...","[{'degree': 'Certificate', 'school_name': 'Geo...","[{'skill': 'CUSTOMER RELATIONS', 'experience':...",[Looking for part-time position. Goal focused ...,"{'skill': 'CUSTOMER RELATIONS', 'experience': ..."
8,"[Skills, ● High energy attitude, ● Sales exper...",c7675c0b793f34a0,"[{'title': 'Manager', 'company': 'Pizza Hut', ...","[{'degree': 'Certificate', 'school_name': 'Geo...","[{'skill': 'CUSTOMER RELATIONS', 'experience':...",[Looking for part-time position. Goal focused ...,"{'skill': 'CUSTOMER SUPPORT', 'experience': 'L..."
9,"[Skills, ● High energy attitude, ● Sales exper...",c7675c0b793f34a0,"[{'title': 'Manager', 'company': 'Pizza Hut', ...","[{'degree': 'Certificate', 'school_name': 'Geo...","[{'skill': 'CUSTOMER RELATIONS', 'experience':...",[Looking for part-time position. Goal focused ...,"{'skill': 'PROBLEM SOLVING', 'experience': 'Le..."

In [14]:
expanded_skill_df = c.create_new_df_dict_col(skills_df, 'skill_dict')
expanded_skill_df.head(10)

                skill        experience
0             COOKING           4 years
1          HAND TOOLS  Less than 1 year
2               WHMIS  Less than 1 year
3    Microsoft Office           9 years
4            Inventor           8 years
5                 Cad           8 years
6     Creo Parametric           2 years
7  CUSTOMER RELATIONS  Less than 1 year
8    CUSTOMER SUPPORT  Less than 1 year
9     PROBLEM SOLVING  Less than 1 year

In [15]:
expanded_skill_df['experience'] = expanded_skill_df['experience'].str.extract(r'(\d) year')
expanded_skill_df

                                                   skill experience
0                                                COOKING          4
1                                             HAND TOOLS          1
2                                                  WHMIS          1
3                                       Microsoft Office          9
4                                               Inventor          8
5                                                    Cad          8
6                                        Creo Parametric          2
7                                     CUSTOMER RELATIONS          1
8                                       CUSTOMER SUPPORT          1
9                                        PROBLEM SOLVING          1
10                                                 SALES          1
11                                       TIME MANAGEMENT          1
12                                               KITCHEN          4
13                                OPENING/CLOSING DUTIES          4
14                                    PREP/ LINE COOKING          3
15                                             INVENTORY          2
16                                     INVENTORY CONTROL          2
17                                           Dishwashing          4
18                                            GENERATORS          1
19                                           MAINTENANCE          1
20                                        MOTOR CONTROLS          1
21                                            OPERATIONS          1
22                                             PROACTIVE          1
23                                      Customer Service          3
24                                     LEADERSHIP SKILLS          1
25                                       PROBLEM SOLVING          1
26                                                 WHMIS          1
27                                         Kitchen Staff          1
28                                             Food Prep          1
29                                          FAST LEARNER          1
...                                                  ...        ...
22245  • Work well with others as well as individuall...          1
22246                                            KITCHEN        NaN
22247                                             BAKING        NaN
22248                                               CHEF        NaN
22249                                          INVENTORY        NaN
22250                                             PASTRY        NaN
22251                                       Knife Skills          8
22252                                        Supervising          1
22253                                            Cooking        NaN
22254                                          Mentoring          1
22255                                            Finance          1
22256                                        Oil And Gas          4
22257                                CONFLICT MANAGEMENT          1
22258     Able to work unsupervised or as a team player.          2
22259                              Organizational Skills          1
22260                                            COOKING          4
22261                                            KITCHEN          2
22262                                         Bartending        NaN
22263                                               CASH          1
22264                                      CASH REGISTER          1
22265                                             CREDIT          1
22266                                CUSTOMER ENGAGEMENT          1
22267                                   CUSTOMER SERVICE          1
22268  Baking ,soup,sauces,great knifes skills,calm u...          1
22269                                             PASTRY          5
22270                                               CHEF          2
22271                                        PASTRY CHEF          2
22272                                               CASH          1
22273                                   SAFETY STANDARDS          1
22274                                         SANITATION          1

[22275 rows x 2 columns]

In [10]:
c.simplify_skills_information(expanded_skill_df, 'experience')
expanded_skill_df.head(10)

                skill experience
0             COOKING        NaN
1          HAND TOOLS        NaN
2               WHMIS        NaN
3    Microsoft Office        NaN
4            Inventor        NaN
5                 Cad        NaN
6     Creo Parametric        NaN
7  CUSTOMER RELATIONS        NaN
8    CUSTOMER SUPPORT        NaN
9     PROBLEM SOLVING        NaN